In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/watanuki/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages (2.4.8)
Requirement already satisfied: jdcal in /Users/watanuki/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages (from openpyxl) (1.3)
Requirement already satisfied: et_xmlfile in /Users/watanuki/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages (from openpyxl) (1.0.1)
WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the '/Users/watanuki/.pyenv/versions/anaconda3-5.0.0/bin/python -m pip install --upgrade pip' command.

In [3]:
# !/Users/watanuki/.pyenv/versions/anaconda3-5.0.0/bin/python -m pip install --upgrade pip

In [4]:
import openpyxl
import pandas as pd
import glob

In [13]:
import_file_path = '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/sample-test.xlsx'
excel_sheet_name = '発注管理表'
export_file_path = '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/output'

In [14]:
df_order = pd.read_excel(import_file_path, sheet_name = excel_sheet_name)
df_order.head()

     会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
0  株式会社A  b023  ボトムス  ロングパンツ   7000   8  56000
1  株式会社A  b003  ボトムス    ジーンズ   6000  10  60000
2  株式会社A  b003  ボトムス  ロングパンツ   7000  10  70000
3  株式会社A  b036  ボトムス  ロングパンツ   7000   2  14000
4  株式会社A  b013  トップス     ニット   8000   7  56000

In [15]:
company_name = df_order['会社名'].unique() # 会社名を取得

In [16]:
company_name

array(['株式会社A', '株式会社B', '株式会社C', '株式会社D', '株式会社E', '株式会社F', '株式会社G',
       '株式会社H', '株式会社I', '株式会社J', '株式会社K', '株式会社L', '株式会社M', '株式会社N',
       '株式会社O', '株式会社P', '株式会社Q', '株式会社R', '株式会社S', '株式会社T', '株式会社U',
       '株式会社V', '株式会社W', '株式会社X', '株式会社Y', '株式会社Z'], dtype=object)

In [17]:
# df_order['会社名'] == '株式会社A'

In [18]:
df_order[df_order['会社名'] == '株式会社A']

      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
0   株式会社A  b023  ボトムス  ロングパンツ   7000   8   56000
1   株式会社A  b003  ボトムス    ジーンズ   6000  10   60000
2   株式会社A  b003  ボトムス  ロングパンツ   7000  10   70000
3   株式会社A  b036  ボトムス  ロングパンツ   7000   2   14000
4   株式会社A  b013  トップス     ニット   8000   7   56000
5   株式会社A  b047  アウター     ダウン  18000   7  126000
6   株式会社A  b013  トップス     ニット   8000   5   40000
7   株式会社A  b013  ボトムス  ハーフパンツ   3000   9   27000
8   株式会社A  b047  ボトムス  ロングパンツ   7000   1    7000
9   株式会社A  b036  ボトムス  ハーフパンツ   3000   5   15000
10  株式会社A  b003  トップス     シャツ   4000   1    4000
11  株式会社A  b003  アウター     ダウン  18000   1   18000

In [19]:
# 会社ごとの発注データを取得する
for i in company_name:
    df_order_company = df_order[df_order['会社名'] == i]
    print(df_order_company)

      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
0   株式会社A  b023  ボトムス  ロングパンツ   7000   8   56000
1   株式会社A  b003  ボトムス    ジーンズ   6000  10   60000
2   株式会社A  b003  ボトムス  ロングパンツ   7000  10   70000
3   株式会社A  b036  ボトムス  ロングパンツ   7000   2   14000
4   株式会社A  b013  トップス     ニット   8000   7   56000
5   株式会社A  b047  アウター     ダウン  18000   7  126000
6   株式会社A  b013  トップス     ニット   8000   5   40000
7   株式会社A  b013  ボトムス  ハーフパンツ   3000   9   27000
8   株式会社A  b047  ボトムス  ロングパンツ   7000   1    7000
9   株式会社A  b036  ボトムス  ハーフパンツ   3000   5   15000
10  株式会社A  b003  トップス     シャツ   4000   1    4000
11  株式会社A  b003  アウター     ダウン  18000   1   18000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
12  株式会社B  b036  アウター     ダウン  18000   3  54000
13  株式会社B  b047  トップス     シャツ   4000   1   4000
14  株式会社B  b003  ボトムス  ロングパンツ   7000   6  42000
15  株式会社B  b036  トップス     シャツ   4000   5  20000
16  株式会社B  b003  トップス     シャツ   4000   6  24000
17  株式会社B  b013  ボトムス  ロングパンツ   7000   5  35000
18  株式会社B  b003  ボトムス  ロングパンツ   7000   4  28000
19  株式会社B  b036  トップス     シャツ   4000   5  20000
      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
20  株式会社C  b047  アウター     ダウン  18000   8  144000
21  株式会社C  b047  ボトムス  ハーフパンツ   3000   9   27000
22  株式会社C  b047  ボトムス  ロングパンツ   7000   3   21000
23  株式会社C  b047  トップス     ニット   8000   2   16000
24  株式会社C  b003  アウター     ダウン  18000   4   72000
25  株式会社C  b023  アウター   ジャケット  10000   7   70000
26  株式会社C  b013  ボトムス  ロングパンツ   7000  10   70000
27  株式会社C  b047  ボトムス  ロングパンツ   7000   5   35000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
28  株式会社D  b036  トップス     シャツ   4000   1   4000
29  株式会社D  b003  アウター   ジャケット  10000   1  10000
30  株式会社D  b036  ボトムス  ハーフパンツ   3000   3   9000
31  株式会社D  b036  ボトムス  ハーフパンツ   3000   7  21000
32  株式会社D  b013  トップス     ニット   8000   7  56000
33  株式会社D  b013  トップス     シャツ   4000   4  16000
34  株式会社D  b023  トップス     シャツ   4000   4  16000
35  株式会社D  b023  ボトムス  ロングパンツ   7000   9  63000
36  株式会社D  b003  ボトムス    ジーンズ   6000   2  12000
37  株式会社D  b013  ボトムス  ロングパンツ   7000   6  42000
38  株式会社D  b047  アウター   ジャケット  10000   9  90000
39  株式会社D  b013  ボトムス    ジーンズ   6000   1   6000
40  株式会社D  b036  アウター     ダウン  18000   1  18000
41  株式会社D  b013  ボトムス  ロングパンツ   7000   8  56000
42  株式会社D  b013  ボトムス  ハーフパンツ   3000   5  15000
43  株式会社D  b013  トップス     シャツ   4000   6  24000
44  株式会社D  b036  トップス     シャツ   4000   8  32000
45  株式会社D  b023  ボトムス  ハーフパンツ   3000   8  24000
46  株式会社D  b003  ボトムス  ロングパンツ   7000   3  21000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
47  株式会社E  b047  トップス     ニット   8000   8  64000
48  株式会社E  b003  ボトムス  ロングパンツ   7000   8  56000
49  株式会社E  b023  トップス     ニット   8000  10  80000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
50  株式会社F  b003  ボトムス  ロングパンツ   7000   3  21000
51  株式会社F  b003  ボトムス    ジーンズ   6000   4  24000
52  株式会社F  b036  アウター   ジャケット  10000   3  30000
53  株式会社F  b003  トップス     ニット   8000   1   8000
54  株式会社F  b003  トップス     ニット   8000   6  48000
55  株式会社F  b036  トップス     ニット   8000   3  24000
56  株式会社F  b013  アウター   ジャケット  10000   7  70000
57  株式会社F  b023  ボトムス    ジーンズ   6000   4  24000
58  株式会社F  b023  ボトムス    ジーンズ   6000   1   6000
59  株式会社F  b047  トップス     シャツ   4000  10  40000
60  株式会社F  b013  ボトムス    ジーンズ   6000   5  30000
61  株式会社F  b003  アウター   ジャケット  10000   6  60000
      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
62  株式会社G  b023  トップス     ニット   8000   6   48000
63  株式会社G  b036  アウター   ジャケット  10000  10  100000
64  株式会社G  b003  ボトムス  ロングパンツ   7000   6   42000
65  株式会社G  b036  ボトムス  ロングパンツ   7000   1    7000
66  株式会社G  b023  トップス     ニット   8000  10   80000
67  株式会社G  b003  トップス     シャツ   4000   7   28000
68  株式会社G  b003  ボトムス    ジーンズ   6000   5   30000
69  株式会社G  b047  ボトムス  ハーフパンツ   3000   6   18000
70  株式会社G  b023  アウター     ダウン  18000   4   72000
71  株式会社G  b013  ボトムス    ジーンズ   6000   7   42000
72  株式会社G  b023  トップス     ニット   8000   4   32000
73  株式会社G  b047  アウター   ジャケット  10000   6   60000
      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
74  株式会社H  b003  ボトムス  ロングパンツ   7000   7   49000
75  株式会社H  b023  トップス     シャツ   4000   1    4000
76  株式会社H  b023  アウター     ダウン  18000   9  162000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
77  株式会社I  b036  ボトムス  ロングパンツ   7000   2  14000
78  株式会社I  b003  トップス     ニット   8000   8  64000
79  株式会社I  b023  ボトムス    ジーンズ   6000   5  30000
80  株式会社I  b036  トップス     ニット   8000   2  16000
81  株式会社I  b003  トップス     ニット   8000   5  40000
82  株式会社I  b047  ボトムス  ロングパンツ   7000   6  42000
      会社名  商品番号  商品分類   商品名  単価（円）  数量   発注金額
83  株式会社J  b036  トップス   ニット   8000   5  40000
84  株式会社J  b013  ボトムス  ジーンズ   6000  10  60000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
85  株式会社K  b003  トップス     ニット   8000   8  64000
86  株式会社K  b013  ボトムス  ハーフパンツ   3000   2   6000
87  株式会社K  b036  ボトムス    ジーンズ   6000  10  60000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
88  株式会社L  b023  アウター   ジャケット  10000   2  20000
89  株式会社L  b003  ボトムス  ハーフパンツ   3000   7  21000
90  株式会社L  b013  ボトムス  ロングパンツ   7000   5  35000
      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
91  株式会社M  b047  アウター     ダウン  18000   7  126000
92  株式会社M  b023  ボトムス  ハーフパンツ   3000   4   12000
      会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
93  株式会社N  b013  ボトムス  ハーフパンツ   3000  10   30000
94  株式会社N  b023  ボトムス    ジーンズ   6000   4   24000
95  株式会社N  b036  アウター     ダウン  18000   7  126000
96  株式会社N  b047  アウター   ジャケット  10000   9   90000
      会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
97  株式会社O  b003  トップス     ニット   8000   8  64000
98  株式会社O  b003  アウター   ジャケット  10000   1  10000
99  株式会社O  b003  ボトムス  ハーフパンツ   3000   4  12000
       会社名  商品番号  商品分類  商品名  単価（円）  数量   発注金額
100  株式会社P  b003  トップス  ニット   8000   7  56000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
101  株式会社Q  b003  ボトムス  ロングパンツ   7000   8  56000
102  株式会社Q  b013  アウター   ジャケット  10000   2  20000
103  株式会社Q  b023  トップス     ニット   8000   6  48000
104  株式会社Q  b047  ボトムス  ハーフパンツ   3000  10  30000
105  株式会社Q  b013  ボトムス  ロングパンツ   7000   9  63000
106  株式会社Q  b023  ボトムス    ジーンズ   6000   1   6000
107  株式会社Q  b003  トップス     シャツ   4000   7  28000
108  株式会社Q  b003  ボトムス  ハーフパンツ   3000   1   3000
109  株式会社Q  b023  ボトムス  ロングパンツ   7000   5  35000
       会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
110  株式会社R  b023  トップス     シャツ   4000   1    4000
111  株式会社R  b013  ボトムス  ロングパンツ   7000   8   56000
112  株式会社R  b023  ボトムス    ジーンズ   6000   8   48000
113  株式会社R  b023  ボトムス  ロングパンツ   7000   1    7000
114  株式会社R  b036  アウター     ダウン  18000   8  144000
115  株式会社R  b003  ボトムス  ロングパンツ   7000   5   35000
116  株式会社R  b003  アウター     ダウン  18000   3   54000
117  株式会社R  b023  ボトムス    ジーンズ   6000   3   18000
118  株式会社R  b003  ボトムス  ハーフパンツ   3000   9   27000
119  株式会社R  b023  アウター   ジャケット  10000   7   70000
120  株式会社R  b003  トップス     ニット   8000   1    8000
121  株式会社R  b003  ボトムス    ジーンズ   6000   3   18000
122  株式会社R  b036  アウター     ダウン  18000  10  180000
123  株式会社R  b013  アウター     ダウン  18000   9  162000
124  株式会社R  b023  アウター   ジャケット  10000   4   40000
125  株式会社R  b036  ボトムス  ハーフパンツ   3000   6   18000
126  株式会社R  b003  ボトムス  ロングパンツ   7000   9   63000
127  株式会社R  b003  アウター     ダウン  18000   4   72000
128  株式会社R  b023  アウター   ジャケット  10000   6   60000
129  株式会社R  b013  ボトムス  ロングパンツ   7000   1    7000
130  株式会社R  b013  ボトムス    ジーンズ   6000   6   36000
131  株式会社R  b023  アウター     ダウン  18000   1   18000
132  株式会社R  b013  ボトムス    ジーンズ   6000   7   42000
133  株式会社R  b013  アウター     ダウン  18000   4   72000
134  株式会社R  b023  アウター   ジャケット  10000   1   10000
135  株式会社R  b013  トップス     シャツ   4000   7   28000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
136  株式会社S  b013  ボトムス  ロングパンツ   7000   6  42000
137  株式会社S  b036  ボトムス  ハーフパンツ   3000   2   6000
138  株式会社S  b036  トップス     ニット   8000   7  56000
139  株式会社S  b047  ボトムス  ロングパンツ   7000   4  28000
140  株式会社S  b003  ボトムス  ロングパンツ   7000   6  42000
       会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
141  株式会社T  b047  トップス     シャツ   4000   7   28000
142  株式会社T  b013  ボトムス    ジーンズ   6000   8   48000
143  株式会社T  b003  アウター   ジャケット  10000   9   90000
144  株式会社T  b023  アウター     ダウン  18000   8  144000
145  株式会社T  b023  トップス     シャツ   4000   8   32000
146  株式会社T  b003  アウター   ジャケット  10000  10  100000
147  株式会社T  b003  トップス     シャツ   4000   2    8000
148  株式会社T  b036  ボトムス  ロングパンツ   7000   7   49000
149  株式会社T  b036  トップス     シャツ   4000   6   24000
150  株式会社T  b047  ボトムス    ジーンズ   6000   4   24000
151  株式会社T  b023  トップス     ニット   8000   8   64000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
152  株式会社U  b003  アウター     ダウン  18000   3  54000
153  株式会社U  b013  アウター   ジャケット  10000   8  80000
154  株式会社U  b023  ボトムス  ハーフパンツ   3000   3   9000
155  株式会社U  b013  トップス     ニット   8000   5  40000
156  株式会社U  b047  トップス     ニット   8000  10  80000
157  株式会社U  b036  トップス     シャツ   4000   8  32000
158  株式会社U  b047  ボトムス  ハーフパンツ   3000   3   9000
159  株式会社U  b013  ボトムス  ロングパンツ   7000   1   7000
160  株式会社U  b003  アウター   ジャケット  10000   7  70000
161  株式会社U  b003  トップス     ニット   8000   7  56000
162  株式会社U  b023  ボトムス  ハーフパンツ   3000   8  24000
163  株式会社U  b047  ボトムス  ロングパンツ   7000   9  63000
164  株式会社U  b003  アウター   ジャケット  10000   2  20000
165  株式会社U  b013  トップス     ニット   8000  10  80000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
166  株式会社V  b023  トップス     ニット   8000   1   8000
167  株式会社V  b036  ボトムス    ジーンズ   6000   5  30000
168  株式会社V  b036  ボトムス    ジーンズ   6000   8  48000
169  株式会社V  b023  トップス     シャツ   4000   2   8000
170  株式会社V  b036  アウター   ジャケット  10000   1  10000
171  株式会社V  b036  アウター   ジャケット  10000   7  70000
172  株式会社V  b003  アウター   ジャケット  10000   5  50000
173  株式会社V  b013  ボトムス  ロングパンツ   7000   5  35000
174  株式会社V  b013  ボトムス    ジーンズ   6000   8  48000
175  株式会社V  b047  トップス     ニット   8000   8  64000
       会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
176  株式会社W  b003  アウター     ダウン  18000  10  180000
177  株式会社W  b047  ボトムス  ロングパンツ   7000   7   49000
178  株式会社W  b023  アウター     ダウン  18000   7  126000
179  株式会社W  b047  ボトムス    ジーンズ   6000   9   54000
180  株式会社W  b003  ボトムス  ハーフパンツ   3000   5   15000
181  株式会社W  b013  ボトムス    ジーンズ   6000   7   42000
182  株式会社W  b003  ボトムス    ジーンズ   6000   2   12000
183  株式会社W  b003  ボトムス    ジーンズ   6000   6   36000
184  株式会社W  b003  ボトムス  ロングパンツ   7000   7   49000
       会社名  商品番号  商品分類     商品名  単価（円）  数量    発注金額
185  株式会社X  b003  ボトムス  ハーフパンツ   3000   3    9000
186  株式会社X  b023  ボトムス    ジーンズ   6000   4   24000
187  株式会社X  b003  アウター   ジャケット  10000   9   90000
188  株式会社X  b003  トップス     ニット   8000   8   64000
189  株式会社X  b023  アウター     ダウン  18000   7  126000
190  株式会社X  b003  ボトムス  ハーフパンツ   3000   5   15000
191  株式会社X  b013  アウター   ジャケット  10000   6   60000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
192  株式会社Y  b036  トップス     シャツ   4000   6  24000
193  株式会社Y  b023  ボトムス    ジーンズ   6000   8  48000
194  株式会社Y  b003  ボトムス  ハーフパンツ   3000   5  15000
195  株式会社Y  b013  ボトムス  ハーフパンツ   3000   1   3000
196  株式会社Y  b036  アウター     ダウン  18000   3  54000
       会社名  商品番号  商品分類     商品名  単価（円）  数量   発注金額
197  株式会社Z  b003  アウター     ダウン  18000   4  72000
198  株式会社Z  b047  ボトムス  ハーフパンツ   3000   3   9000
199  株式会社Z  b036  ボトムス  ロングパンツ   7000  10  70000

In [21]:
# 会社ごとの発注データをそれぞれのExcelファイルに出力する
for i in company_name:
    df_order_company = df_order[df_order['会社名'] == i]
    df_order_company.to_excel(export_file_path+'/'+i+'.xlsx')

#### ケース２
複数の支店をもつ生命保険会社Bがあったとします。
各支店長は、支店の予算と実績を管理している予実管理表を本部に報告しています。
本部の担当者は、送られてきた予実管理表を集計し、上司に報告しています。
ファイルはデスクトップのMyPandasというフォルダのrawdataというところに保存されているとします。

In [26]:
export_file_path = '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/output'
import_folder_path ='/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata'

In [27]:
path = import_folder_path + '/' + '*.xlsx'

In [28]:
file_path = glob.glob(path)

In [29]:
file_path

['/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata/東京支店.xlsx',
 '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata/大阪支店.xlsx',
 '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata/横浜支店.xlsx',
 '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata/札幌支店.xlsx',
 '/Users/watanuki/PycharmProjects/python_training/Excel_Automations/rawdata/福岡支店.xlsx']

In [30]:
df_concat=pd.DataFrame()

for i in file_path:
    df_read_excel=pd.read_excel(i)
    print(df_read_excel.head(3))

    社員番号      氏名  支店   売上目標   売上実績    達成率
0   a001   辻上 明佳  東京  40000  39856  0.996
2   a003  石崎 和香菜  東京  39000  42011  1.077
11  a012  辻下 万美子  東京  39000  36501  0.936
    社員番号     氏名  支店   売上目標   売上実績    達成率
3   a004  斉 あきの  大阪  43000  39780  0.925
10  a011  山藤 善雄  大阪  40000  35401  0.885
13  a014  植野 寛美  大阪  25000  20493  0.820
   社員番号     氏名  支店   売上目標   売上実績    達成率
1  a002  押元 大成  横浜  48000  45678  0.952
7  a008  水戸 美砂  横浜  41000  43201  1.054
8  a009  小花 賢悟  横浜  45000  46789  1.040
    社員番号     氏名  支店   売上目標   売上実績    達成率
4   a005  寺下 春樹  札幌  38000  39271  1.033
6   a007  関藤 梨花  札幌  25000  30405  1.216
21  a022  安楽 遼子  札幌  30000  29785  0.993
    社員番号     氏名  支店   売上目標   売上実績    達成率
5   a006  八尾 洋志  福岡  28000  23405  0.836
9   a010  鍵谷 一磨  福岡  27000  30102  1.115
12  a013  宮瀬 尚紀  福岡  26000  30123  1.159

In [31]:
df_concat=pd.DataFrame()

for i in file_path:
    df_read_excel=pd.read_excel(i)
    df_concat=pd.concat([df_read_excel, df_concat])

In [32]:
df_concat

    社員番号      氏名  支店   売上目標   売上実績    達成率
5   a006   八尾 洋志  福岡  28000  23405  0.836
9   a010   鍵谷 一磨  福岡  27000  30102  1.115
12  a013   宮瀬 尚紀  福岡  26000  30123  1.159
14  a015   新森 雅紀  福岡  30000  34569  1.152
31  a032   三角 和正  福岡  24000  20102  0.838
42  a043    今井 悠  福岡  35000  30210  0.863
45  a046    庄 佑典  福岡  28000  23456  0.838
4   a005   寺下 春樹  札幌  38000  39271  1.033
6   a007   関藤 梨花  札幌  25000  30405  1.216
21  a022   安楽 遼子  札幌  30000  29785  0.993
24  a025  伊多波 愛良  札幌  34000  33002  0.971
37  a038   千葉 二郎  札幌  41000  37689  0.919
44  a045   豊竹 悦世  札幌  28000  24501  0.875
46  a047   上瀬 由和  札幌  28000  28901  1.032
49  a050   佐久田 里  札幌  40000  38890  0.972
1   a002   押元 大成  横浜  48000  45678  0.952
7   a008   水戸 美砂  横浜  41000  43201  1.054
8   a009   小花 賢悟  横浜  45000  46789  1.040
15  a016  芳澤 佳乃子  横浜  30000  37869  1.262
23  a024  八島 セツ子  横浜  44000  35673  0.811
27  a028   新開 優紀  横浜  38000  36781  0.968
29  a030   井熊 徹郎  横浜  38000  30790  0.810
34  a035   泰地 生恵  横浜  40000  39781  0.995
35  a036    西尾 謙  横浜  25000  27349  1.094
40  a041    積 萌恵  横浜  38000  40129  1.056
3   a004   斉 あきの  大阪  43000  39780  0.925
10  a011   山藤 善雄  大阪  40000  35401  0.885
13  a014   植野 寛美  大阪  25000  20493  0.820
16  a017   周藤 愛乃  大阪  38000  45929  1.209
17  a018   尾下 勝広  大阪  33000  33002  1.000
18  a019   河路 文武  大阪  33000  34001  1.030
22  a023   河野 利香  大阪  40000  41239  1.031
28  a029  矢野川 昌寛  大阪  42000  34501  0.821
30  a031  八木沢 和貴  大阪  40000  42500  1.063
33  a034   堂園 泰典  大阪  31000  26834  0.866
38  a039   吉川 紘未  大阪  28000  28830  1.030
39  a040    楯 行雄  大阪  38000  26781  0.705
48  a049   清沢 澄枝  大阪  24000  24500  1.021
0   a001   辻上 明佳  東京  40000  39856  0.996
2   a003  石崎 和香菜  東京  39000  42011  1.077
11  a012  辻下 万美子  東京  39000  36501  0.936
19  a020   本廣 友広  東京  25000  21980  0.879
20  a021   堀場 克巳  東京  29000  29045  1.002
25  a026   三角 静江  東京  35000  38801  1.109
26  a027   本永 悠希  東京  25000  27893  1.116
32  a033  栄田 江身子  東京  40000  34561  0.864
36  a037  片尾 愛佑美  東京  41000  49219  1.200
41  a042    池 祐矢  東京  29000  30120  1.039
43  a044   一箭 姫乃  東京  28000  23056  0.823
47  a048   蒲生 利彦  東京  45000  46102  1.024

In [33]:
# df_drop = df_concat.drop('Unnamed: 0', axis = 1)

In [34]:
df_sort = df_concat.sort_values(by='達成率', ascending=False)

In [35]:
df_sort

    社員番号      氏名  支店   売上目標   売上実績    達成率
15  a016  芳澤 佳乃子  横浜  30000  37869  1.262
6   a007   関藤 梨花  札幌  25000  30405  1.216
16  a017   周藤 愛乃  大阪  38000  45929  1.209
36  a037  片尾 愛佑美  東京  41000  49219  1.200
12  a013   宮瀬 尚紀  福岡  26000  30123  1.159
14  a015   新森 雅紀  福岡  30000  34569  1.152
26  a027   本永 悠希  東京  25000  27893  1.116
9   a010   鍵谷 一磨  福岡  27000  30102  1.115
25  a026   三角 静江  東京  35000  38801  1.109
35  a036    西尾 謙  横浜  25000  27349  1.094
2   a003  石崎 和香菜  東京  39000  42011  1.077
30  a031  八木沢 和貴  大阪  40000  42500  1.063
40  a041    積 萌恵  横浜  38000  40129  1.056
7   a008   水戸 美砂  横浜  41000  43201  1.054
8   a009   小花 賢悟  横浜  45000  46789  1.040
41  a042    池 祐矢  東京  29000  30120  1.039
4   a005   寺下 春樹  札幌  38000  39271  1.033
46  a047   上瀬 由和  札幌  28000  28901  1.032
22  a023   河野 利香  大阪  40000  41239  1.031
18  a019   河路 文武  大阪  33000  34001  1.030
38  a039   吉川 紘未  大阪  28000  28830  1.030
47  a048   蒲生 利彦  東京  45000  46102  1.024
48  a049   清沢 澄枝  大阪  24000  24500  1.021
20  a021   堀場 克巳  東京  29000  29045  1.002
17  a018   尾下 勝広  大阪  33000  33002  1.000
0   a001   辻上 明佳  東京  40000  39856  0.996
34  a035   泰地 生恵  横浜  40000  39781  0.995
21  a022   安楽 遼子  札幌  30000  29785  0.993
49  a050   佐久田 里  札幌  40000  38890  0.972
24  a025  伊多波 愛良  札幌  34000  33002  0.971
27  a028   新開 優紀  横浜  38000  36781  0.968
1   a002   押元 大成  横浜  48000  45678  0.952
11  a012  辻下 万美子  東京  39000  36501  0.936
3   a004   斉 あきの  大阪  43000  39780  0.925
37  a038   千葉 二郎  札幌  41000  37689  0.919
10  a011   山藤 善雄  大阪  40000  35401  0.885
19  a020   本廣 友広  東京  25000  21980  0.879
44  a045   豊竹 悦世  札幌  28000  24501  0.875
33  a034   堂園 泰典  大阪  31000  26834  0.866
32  a033  栄田 江身子  東京  40000  34561  0.864
42  a043    今井 悠  福岡  35000  30210  0.863
45  a046    庄 佑典  福岡  28000  23456  0.838
31  a032   三角 和正  福岡  24000  20102  0.838
5   a006   八尾 洋志  福岡  28000  23405  0.836
43  a044   一箭 姫乃  東京  28000  23056  0.823
28  a029  矢野川 昌寛  大阪  42000  34501  0.821
13  a014   植野 寛美  大阪  25000  20493  0.820
23  a024  八島 セツ子  横浜  44000  35673  0.811
29  a030   井熊 徹郎  横浜  38000  30790  0.810
39  a040    楯 行雄  大阪  38000  26781  0.705

In [36]:
df_sort.to_excel(export_file_path + '/' + '予実管理表.xlsx')

In [37]:
workbook = openpyxl.load_workbook(export_file_path+'/予実管理表.xlsx')
worksheet = workbook.worksheets[0]
# worksheet.delete_cols(1)
workbook.save(export_file_path+'/予実管理表_01.xlsx')